nav {
  display: flex;
  align-self: right;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  /* border-bottom: 1px solid #000 */
}

.nav-links ul{
  display: flex;
  text-align: right;
  padding-right: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 2vh 0  0 3vh;
  padding: 10px
}

nav ul li:hover {
  background-color: white;
  padding: 10px;
  color: rgb(2, 99, 99);
  border-bottom: 1px solid #000;
}


.toggle-button {
  position: absolute;
  top: 6.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none
  }

  .nav-items {
    flex-direction: column;
    align-items: flex-start;
    width: 100%
  }
}
